.main-content-wrapper{
    display:flex;
    background-color:white;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin-bottom: 200px;

}
.search-area{
    display:flex;
    width: 80%;
    height: auto;
    align-items: center;
    

}
.google-logo{
    display:flex;
    justify-content:center;
    width: 35%;
    height: auto;
    padding:3rem;
  
    
}

.input-search{
    padding:1rem;
    width:100%;
    height:3rem;
    border-radius: 30px;
    background-origin: padding-box;
    font-size: 18px;

}
.google-mic{
    display: inline-flex;
    height:2rem;
    display:flex;
    margin-left: -60px;
    z-index: 2;

}
.button-container{
    padding:10px;
    display:flex;
    justify-content: center;
    margin-top:0px;
}
.search-btn{
    width: 150px;
    height:40px;
    padding:.5rem;
    margin: 1rem .25rem 0rem .25rem;
    border-radius: 5px;
    background-color:#F2F2F2;
    color:#757575;
    font-weight:600;
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}